.vertical-line1, .vertical-line2, .vertical-line3{width: 1px; height: 100%; background-color: #E7E7E8; position: absolute;}
.vertical-line1{left: 25%}  .vertical-line2{left: 50%}  .vertical-line3{left: 75%;}
.item-wrap{position: relative; box-sizing: border-box; background-color: #FFF; margin: 0.8rem 0;}
.item-list{padding-top: 0.5rem;text-align: center;}
.item-list .md-f1{width: 25%;}
.item-list img{width: 30%;}
.item-list div{padding: 0.5rem 0; height: 25%; box-sizing: border-box; font-size: 0.8rem;}
.border-b{border-bottom: 1px solid #E7E7E8;}
.next-btn{position: fixed; bottom: 4rem; left: 10%;}